<div style="display:flex; width:100%; height:100px; gap:20px">
  <a href="/">home</a>
  <a href="/account">account</a>
  <a href="/cart">cart</a>
  <a href="/auth/logout">logout</a>
</div>

<div style="display:flex; gap:10px; align-items:center">
  <h1>Categories</h1>
  <a href="/category/fantasy">Fantasy</a>
  <a href="/category/romance">Romance</a>
  <a href="/category/fiction">Fiction</a>
</div>

<% if(prods.length > 0) { %>
  <div style="display:flex; gap:40px;  ">
    <% prods.map(el => { %>
      <div style="width:300px; height:500px; border: 1px solid #09f; display:flex; flex-direction: column;align-items: center; ">
        <h2 style="text-align:center ;"> <%= el.title %> </h2>
        <p> $<%= el.price %> </p>
        <p> <%= el.description %> </p>
        <img style="height:250px; object-fit: contain; " src=<%= el.image %> />

          <button onclick="addToCart(el._id)" class="addToCart" > >add to cart</button>

      </div>
    <% }) %>
  </div>
<% } else{ %>
    <h2>no hay productos</h2>
    <% } %>

    <%
      const addToCart = async (id) => {
        await fetch.post('localhost/addcart', {id})
      }
    %> 