<h1>login</h1>
<form action="/auth/login" method="POST" style="display:flex; flex-direction:column; width: 600px; gap:10px">
  <input placeholder="email" type="email" name="email" />
  <input placeholder="password" type="password" name="password" />
  <button type="submit">submit</button>
</form>

<a href="/auth/signup">crea una cuenta! sign up!</a>