
  <form method="POST" action="productos">
    <input type="text" placeholder="product name" name="name" />
    <input type="text" placeholder="product description" name="desc" />
    <input type="number" placeholder="product price" name="price" />
    <button type="submit">send </button>
  </form>
