<div>
  <h1>live chat!</h1>
  <form id="form2" onsubmit="return addMessage(this)">
    <input type="email" required placeholder="email" id="email" />
    <input type="'text" placeholder="text" id="text" />
    <button>send</button>
  </form>
</div>