<form action="/productos" method="POST">
  <input placeholder="product name" type="text" name="name" />
  <input placeholder="product description" type="text" name="desc" />
  <input placeholder="product price" type="number" name="price" />
  <button type="submit">send</button>
</form>
